.footer {
  background-color: #2b2c30;
  a {
    color: #949496;
  }


  &__center {
    padding: 40px 20px;
    // @include flex-column-center;
  }

  &__map, &__phones, &__adress {
    @include flex-all-center;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    @include small-tablet {
      flex-wrap:wrap;
    }
  }

  &__item {
    @include flex-v-center;

    @include small-tablet {
      margin-bottom: 20px;
    }

    &:not(:last-child) {
      margin-right: 40px;
      @include small-tablet {
        margin-right: 20px;
      }
    }

    img {
      margin-right: 5px;
      color: #949496;
      width: 20px;
    }
  }

}
