.form-country {
  background-color: #f9f9f9;
  padding: 60px 40px 100px 40px;
  // @include flex-all-sb;
  margin-bottom: 50px;

  h2 {
    text-align: center;
    padding-bottom: 20px;
    span {
      color: var(--accent-color);
    }
  }

  @include small-tablet {
    padding: 60px 0 100px 0;
  }

}

.form__content {
  @include flex-all-center;

  @include tablet {
    justify-content: center;
    flex-wrap: wrap;

    .form-field {
      margin-right: 0;
    }

    & > * {
      margin-bottom: 20px;
      width: 60%;
      flex-grow: initial;
    }

    .form-field__input {
      width: 100%;
    }
  }

  .form__text {
    color: var(--light-color);
  }

  @include small-tablet {
    & > * {
      width: 85%;
    }
  }

  @include mobile {
    & > * {
      width: 1100%;
    }
  }
}
