.form-country {
  background-color: #f9f9f9;
  padding: 60px 40px 100px 40px;
  @include flex-all-sb;
  margin-bottom: 50px;

  h2 {
    text-align: center;
    padding-bottom: 20px;
    span {
      color: var(--accent-color);
    }
  }

}

.form__content {
  @include flex-v-center;

  .form__text {
    color: var(--light-color);
  }
}
