.header {
  padding: 20px 0;

  .logo {
    width: 150px;

    @include flex-v-center;
  }

  &__container {
    @include flex-all-sb;
  }

  .header-contacts {
    @include small-tablet {
      display: none;
    }
  }
}
