.nav {
  @include small-tablet {
    display: none;
  }

  &__list {
    @include flex-v-center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 16px;

    &--current {
      color: var(--accent-color);
    }
  }
}
