<section class="apply">
  <div class="container">
    <div class="apply__content">
      <h3 class="apply-title">Готовим к поступлению в зарубежные вузы</h3>
      <p class="apply-desc apply-desc--accent">Программа комплексной подготовки школьников и студентов к поступлению в лучшие университеты мира</p>
      <div class="apply__btn">
        <button class="btn-reset btn btn--stroke">Узнать подробнее</button>
      </div>
    </div>
    <img src="http://dummyimage.com/600x400/a6a6ff" alt="Образование в Канаде">
  </div>
</section>
