<section class="content">
  <div class="container">
    <div class="content content__text">
      <h2>Особенности обучения в Канаде</h2>
      <p>Loremipsum dolor, sit amet consectetur adipisicing elit. Est iusto omnis explicabo esse voluptas officia quae consequatur in maxime numquam temporibus aperiam, suscipit aspernatur blanditiis voluptatem? Minus facere, laborum exercitationem debitis odio molestiae accusantium tempora laudantium aliquid voluptates, nisi quae accusamus molestias! Expedita recusandae possimus aspernatur, ipsum qui ipsa? Expedita impedit fugiat similique, ea laboriosam id, nemo quisquam consequatur temporibus perferendis molestiae accusamus sunt quidem eum magni cupiditate dolore quasi maiores adipisci. Voluptate est totam, obcaecati unde aspernatur ipsam officiis labore fuga nobis consequuntur. Molestiae necessitatibus aspernatur at praesentium dolorem quia consequatur sequi illo maiores, provident, aut dolor, nostrum earum?</p>
      <h2>Образование в Канаде для украинцев в 2022 году</h2>
      <p>Канада — одна из самых высокоразвитых и безопасных стран мир. Предлагает вам программы обучения в Канаде для украинцев. Среди них:</p>
        <ul>
          <li>Высшее образование в Канаде: университеты и колледжи</li>
          <li>Магистратура и MBA в Канаде</li>
          <li>Дипломные и сертификационные программы</li>
          <li>Курсы английского языка в Канаде</li>
        </ul>
      <p>Канада — это одно из немногих государств, в котором правительство большое внимание уделяет оснащению ВУЗов. Финансирование высших учебных заведений со стороны государства достигает 90%. Стать студентом любого из канадских ВУЗов престижно и почетно. Обучаясь в в Канаде, можно быть уверенным в том, что сложностей с поиском достойно оплачиваемой работой по завершению учебного заведения не будет.</p>
      <h2>Учеба в Канаде для украинцев</h2>
      <p>В Канаде нет единых тарифов. Здесь в каждом учебном заведении свои цены на обучение. Учеба в наиболее престижных, либо расположенных в столице университетах обойдется дороже, чем обучение той же специальности в провинциальных городах. На стоимость может влиять и длительность обучения. В среднем цена обучения в год составляет около 11 тысяч канадских долларов. Дороже всего обходится учеба будущим IT-специалистам. Если сравнивать со стоимостью обучения в аналогичных ВУЗах других государств, то становится понятным, что цены в Канаде достаточно лояльны.</p>
    </div>
    <div class="centered">
      <button class="btn-reset load-more load-more--top">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-down"></use>
        </svg>
        Читать все
      </button>
    </div>
  </div>
</section>
