<section class="form-country">
  <div class="container">
    <form action="#" class="form">
      <h2>Консультация от экспертов <span>STUDYWAY</span></h2>
      <div class="form__content">
        <label class="form__label form-field">
          <input class="form-field__input" type="text" name="Имя" class="input-reset form__input" placeholder="Имя">
        </label>
        <label class="form__label form-field">
          <input class="form-field__input" type="text" name="Телефон" class="input-reset form__input" placeholder="Телефон">
        </label>
        <label class="form__label form-field">
          <input class="form-field__input" type="text" name="E-mail" class="input-reset form__input" placeholder="E-mail">
        </label>
        <button class="btn-reset btn btn--field" type="submit">Отправить</button>
      </div>
    </form>
  </div>
</section>
