<header class="header">
  <div class="container header__container">
    <a href="/" class="logo">
      <img src="img/svg/logo.svg" alt="Studyway">
    </a>
    <nav class="nav" title="">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#" class="nav__link nav__link--current">Страны</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Университеты</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
      </ul>
    </nav>
    <div class="header-contacts">
      <a href="tel:99999999" class="header-contacts__link contacts-link contacts-link--call">
        <span class="contacts-link__value">(099)99999999</span>
      </a>
    </div>
    <button class="btn-reset burger" aria-label="Открыть меню">
      <span class="burger__line"></span>
    </button>
  </div>
</header>
