<section class="hero">
  <div class="container">
    <div class="hero__content">
      <ul class="list-reset breadcrumbs">
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">Главная</a>
        </li>
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">Страны</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link">Образовние в Канаде</a>
        </li>
      </ul>
      <h1 class="main-title">Образование в Канаде</h1>
      <p class="main-desc main-desc--accent">Открыта вступительная кампания на 2022 год</p>
      <div class="hero__btn">
        <button class="btn-reset btn btn--stroke">Хочу поступить</button>
      </div>
    </div>
    <img src="http://dummyimage.com/600x450/a6a6ff" alt="Образование в Канаде" class="hero__img">
  </div>
</section>
