<section class="hero-university">
  <div class="container">
    <ul class="list-reset breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Университеты</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Thompson Rivers University</a>
      </li>
    </ul>
    <h1 class="main-title">Thompson Rivers University</h1>
    <div class="hero-university__content">
      <div class="hero-university__left">
        <img  src="http://dummyimage.com/600x450/a6a6ff" alt="Thompson Rivers University" class="hero-university__img">
      </div>
      <div class="hero-university__right">
        <div class="hero-university__items">
          <ul class="hero-university__list list-reset">
            <li class="hero-university__item">
              <div class="hero-university__category">
                <img src="img/svg/icon-location.svg" alt="">
              </div>
              <div class="hero-university__value">
                <p>Торонто</p>
              </div>
            </li>
            <li class="hero-university__item">
              <div class="hero-university__category">
                <img src="img/svg/icon-study.svg" alt="">
              </div>
              <div class="hero-university__value">
                <p>Туризм, Бизнес</p>
              </div>
            </li><li class="hero-university__item">
              <div class="hero-university__category">
                <img src="img/svg/icon-calendar.svg" alt="">
              </div>
              <div class="hero-university__value">
                <p>октябрь, март</p>
              </div>
            </li><li class="hero-university__item">
              <div class="hero-university__category">
                <img src="img/svg/icon-link.svg" alt="">
              </div>
              <div class="hero-university__value">
                <p>www.tru.ca</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
