<div class="price-university">
  <div class="container price-university__container">
    <h2>Цена обучения в Thompson Rivers University</h2>
    <div class="price-university__items">
      <ul class="price-university__list list-reset">
        <li class="price-university__item">
          <img src="img/svg/icon-budget.svg" alt="" >
          <p>Английский язык для академических целей: от 2500 CAD за 8 недель</p>
        </li>
        <li class="price-university__item">
          <img src="img/svg/icon-budget.svg" alt="" >
          <p>Диплом бакалавра: от 6900 CAD за 1 семестр обучения</p>
        </li>
        <li class="price-university__item">
          <img src="img/svg/icon-budget.svg" alt="" >
          <p>Diploma: от 6000 CAD за 1 семестр обучения</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="price-university">
  <div class="container price-university__container">
    <h2>Проживание в Thompson Rivers University</h2>
    <div class="price-university__items">
      <ul class="price-university__list list-reset">
        <li class="price-university__item">
          <img src="img/svg/icon-house.svg" alt="" >
          <p>Принимающая семья</p>
        </li>
        <li class="price-university__item">
          <img src="img/svg/icon-house.svg" alt="" >
          <p>Университетский кампус</p>
        </li>
        <li class="price-university__item">
          <img src="img/svg/icon-house.svg" alt="" >
          <p>Студенческая резиденция</p>
        </li>
        <li class="price-university__item">
          <img src="img/svg/icon-house.svg" alt="" >
          <p>Проживание вне кампуса</p>
        </li>
      </ul>
    </div>
  </div>
</div>
