<div class="programms-university">
  <div class="container programms-university__container">

    <div class="university-programms__left">
      <h2>Программы обучения в Thompson Rivers University</h2>
      <div class="programms-university__list">
        <div href="" class="programms-university__item">
            <h3 class="programms-university__title">Диплом бакалавра (4 года)</h3>
        </div>
        <div href="" class="programms-university__item">
            <h3 class="programms-university__title">Диплом магистра (2 года)</h3>
        </div>
        <div href="" class="programms-university__item">
            <h3 class="programms-university__title">Последипломное образование (1-2 года)</h3>
        </div>
        <div href="" class="programms-university__item">
            <h3 class="programms-university__title">MBA</h3>
        </div>
      </div>
    </div>
    <div class="university-programms__right">
      <h2>Факультеты и специальности в Thompson Rivers University</h2>
      <ul>
        <li>Bachelor of Tourism Management</li>
        <li>Accounting</li>
        <li>Economics</li>
        <li>Finance</li>
        <li>Human Resources</li>
        <li>Information Technology</li>
        <li>International Business</li>
        <li>Marketing</li>
        <li>New Venture Creation</li>
        <li>Computing Science and Business Administration (double)</li>
        <li>Economics</li>
        <li>English</li>
        <li>Geography</li>
        <li>History</li>
        <li>Mathematics</li>
        <li>Philosophy</li>
        <li>Psychology</li>
        <li>Sociology</li>
        <li>Theatre Arts</li>
        <li>Fine Arts</li>
        <li>Natural Resource Scienc</li>
      </ul>
    </div>

  </div>
</div>
