<div class="programms-country">
  <div class="container">
    <h2>Программы обучения в Канаде</h2>
    <div class="programms-country__list">
      <a href="" class="programms-country__item">
        <div class="programms-country__content">
          <h3 class="programms-country__title">Бакалавриат в Канаде Бакалавриат в Канаде</h3>
        </div>
      </a>
      <a href="" class="programms-country__item">
        <div class="programms-country__content">
          <h3 class="programms-country__title">Бакалавриат в Канаде</h3>
        </div>
      </a>
      <a href="" class="programms-country__item">
        <div class="programms-country__content">
          <h3 class="programms-country__title">Бакалавриат в Канаде</h3>
        </div>
      </a>
      <a href="" class="programms-country__item">
        <div class="programms-country__content">
          <h3 class="programms-country__title">Бакалавриат в Канаде</h3>
        </div>
      </a>
    </div>
  </div>
</div>
