<section class="universities">
  <div class="container">
    <h2>Университеты в Канаде</h2>
    <a href="" class="universities-item">
      <img src="/src/img/university.png" alt="" class="universities-item__img">
      <div class="universities-item__content">
        <h3 class="universities-item__title">Thompson Rivers University</h3>
        <span class="universities-item__descr">Торонто</span>
        <div class="universities-item__btn">Подробнее</div>
      </div>
    </a>
  </div>
</section>
