<section class="country">
  <div class="container">
    <h2>Университеты</h2>
    <div class="universities-content">
      <a href="" class="universities-item">
        <img src="img/university.png" alt="" class="universities-item__img">
        <div class="universities-item__content">
          <h3 class="universities-item__title">Thompson Rivers University</h3>
          <p class="universities-item__descr">Торонто</p>
        </div>
      </a>
      <a href="" class="universities-item">
        <img src="img/university.png" alt="" class="universities-item__img">
        <div class="universities-item__content">
          <h3 class="universities-item__title">Thompson Rivers University</h3>
          <p class="universities-item__descr">Торонто</p>
        </div>
      </a>
      <a href="" class="universities-item">
        <img src="img/university.png" alt="" class="universities-item__img">
        <div class="universities-item__content">
          <h3 class="universities-item__title">Thompson Rivers University</h3>
          <p class="universities-item__descr">Торонто</p>
        </div>
      </a>
      <a href="" class="universities-item">
        <img src="img/university.png" alt="" class="universities-item__img">
        <div class="universities-item__content">
          <h3 class="universities-item__title">Thompson Rivers University</h3>
          <p class="universities-item__descr">Торонто</p>
        </div>
      </a>
      <a href="" class="universities-item">
        <img src="img/university.png" alt="" class="universities-item__img">
        <div class="universities-item__content">
          <h3 class="universities-item__title">Thompson Rivers University</h3>
          <p class="universities-item__descr">Торонто</p>
        </div>
      </a>
      <a href="" class="universities-item">
        <img src="img/university.png" alt="" class="universities-item__img">
        <div class="universities-item__content">
          <h3 class="universities-item__title">Thompson Rivers University</h3>
          <p class="universities-item__descr">Торонто</p>
        </div>
      </a>
    </div>
    <div class="centered">
      <button class="btn-reset load-more">
        <svg>
          <use xlink:href="img/sprite.svg#univerities-more"></use>
        </svg>
        Загрузить еще
      </button>
    </div>
  </div>
</section>
